/* Add CSS Styling */
.odd {
    background-color: #ffc0cb;
    font-family: Verdana, 'DejaVu Sans', sans-serif;

}

#second {
    color: hsl(240, 100%, 50%);
    font-size: 36px;
}

.cooler {
    font-size: 24px;
}

#forth {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}