body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 12px;
  padding: 20px 12px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 12px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 32px;
  display: block;
  margin: 0 auto;
}